body {
    font-family: "roboto";
}

.h {
    display: flex;
    gap: 300px;
}

.hero {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: block;
    margin-left: 10px;
}

.links  {
    list-style: none;
    list-style-type: none;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 48px;
    padding: 0;
    margin-top: 20px;
    flex: auto;
}

.title {
    max-width: 500px;
    margin-bottom: 0px;
    display: inline-block;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.button {
    display: flex;
    flex-flow: column;
    max-width: 100px;
}

.img {

    display: flex;
    width: 375px;
    height: 175px;
    padding-left: 800px;
    padding: 0;
    margin-top: 0;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

.hcontent {
    display: flex;
    justify-content: space-around;
    
}


.text ,.logo {
    
    margin-left: 150px;
    margin-top: 16px;
}

.links {
    margin-top: -30px;
}

 
.ndpart